.formbox{
	border: solid 1px;
	width: 500px;
	padding-left: 26px;
	padding-top: 20px;
	background-color: black;
}
label{
	font-size: 22px;
	color: white
}
input{
	background-color: black;
	border: none;
	outline: none;
	font-size: 21px;
	border-width:3px;
	border-bottom: 
	
}
#textbox{
	width: 250px; 
}
button{
	height: 50px;
	width: 150px;
	background-color:red;
	border-radius: 50px;
	color: white;
	font-size: 23px;
	font-weight: 
	 
}

